.row
  .col-lg-4
    .panel.panel-primary
      .panel-heading
        %h1.panel-title User Information
      .panel-body
        %p
          %b Name: 
          =user.firstname 
        %p
          %b Lastname: 
          =user.lastname 
        %p
          %b Email: 
          =user.email
        %p
          %b Role: 
          =user.role
        = user.display_edit_button_in_panel_footer

    .panel.panel-primary
      .panel-heading
        %h1.panel-title Login Information
      .panel-body
        %p
          %b Sigin in count: 
          =user.sign_in_count 
        %p
          %b Current sign in at: 
          =user.current_sign_in_at 
        %p
          %b Last sign in at: 
          =user.last_sign_in_at
  
  .col-lg-4
    .panel.panel-primary
      .panel-heading
        %h1.panel-title User Statistics
      .panel-body
        %p
          %b The amount of added products: 
          =user.products.count 
        %p
          %b The amount of reviews: 
          =user.reviews.count

  .col-lg-4
    .panel.panel-primary
      .panel-heading
        %h1.panel-title Last Reviews
      .panel-body
        %ul.list-group
          - reviews.each do |review|
            %li.list-group-item
              .alert-info
                Review for:
                %b
                  = link_to review.product.title, category_product_path(review.product.category.to_param, review.product.to_param)
              %span.badge 
                Created at: 
                = review.date
              %span.badge 
                Rating: 
                = review.rating
              = review.content
