.panel.panel-primary
  .panel-heading
    %h1.panel-title Listing categories

  .panel-body  
    %table.table.table-striped.table-hover.table-condensed
      %tr
        %th Name
        %th
        %th
        %th

      - categories.each do |category|
        %tr
          %td= category.name
          %td= link_to 'Show', category, class: 'btn btn-sm btn-primary'
          %td= category.edit_category
          %td= link_to 'Destroy', category, method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: 'Are you sure?' }

    %br

    .panel-footer
      = CategoryDecorator.decorate(Category.first).new_category