%p#notice= notice
.panel.panel-primary
  
  .panel-heading
    %p
      %b Name:
      = category.name

  .panel-body
    .row
      .col-lg-6
        .panel.panel-primary
          .panel-heading 
            .panel-titel Products in the #{category.name} category
          .panel-body
            %p
              - category.products.each do |product|
                .btn-group{ role: "group" }
                  =link_to product.title,  category_product_path(product.category, product), class: "btn btn-default" 
          .panel-footer
            =link_to 'Show all products in category', category_products_path(category), class: "btn btn-lg btn-success" 

      .col-lg-5.pull-right
        .panel.panel-primary
          .panel-heading
            %h3.panel-title New product
          .panel-body     
            = render 'products/form'

  .panel-footer
    - if current_user.admin?
      = link_to 'Edit', edit_category_path(category) if current_user.admin?
      \|
    = link_to 'Back', categories_path, class: 'btn btn-primary'
