.panel.panel-primary
  .panel-heading
    %h1.panel-title Listing products

  .panel-body

  %table.table.table-striped.table-hover.table-condensed
    %tr
      %th Title
      %th Description
      %th Price
      %th
      %th
      %th

    - products.each do |product|
      %tr
        %td= product.title
        %td= product.description
        %td= product.price
        %td= link_to 'Show', category_product_path(product.category, product),  class: 'btn btn-sm btn-primary'
        %td= product.edit_product
        %td= link_to 'Destroy', category_product_path(product.category, product), class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: 'Are you sure?' }

  %br
  .panel-footer
    =link_to 'Back', :back, class: 'btn btn-primary'
