.panel.panel-primary
  .panel-heading
    %br
  .panel-body
    %p#notice= notice
    %p#error= flash[:error]

    .row
      .col-lg-4
        .panel.panel-primary
          .panel-heading
            .panel-title Product Information  
          .panel-body    
            %p
              %b Title:
              = product.title
            %p
              %b Description:
              = product.description
            %p
              %b Price:
              = product.price
            %p
              %b Category
              = product.category.name

      .col-lg-8
        .panel.panel-primary
          .panel-heading
            %h3.panel-title Reviews
          .panel-body 
            .row
              .col-lg-8   
                = render 'reviews/form'
          .panel-footer  
            = render reviews

  .panel-footer    
    = link_to 'Edit', edit_category_product_path(category.id, product.id)
    \|
    = link_to 'Back', category_products_path, class: 'btn btn-primary'
